obj/
bin/

*.o

# reproducible benchmark files

benchmark/**/*.jpg
benchmark/**/*.jsonl
benchmark/**/*.tar.gz
benchmark/**/*.zip
benchmark/**/*.tar

# experiments
__pycache__/
experiments/data-build/*
experiments/data/*
!.gitkeep
.venv
.mypy_cache/
logs/

tags
