obj/
bin/

*.o

# benchmark reproducible benchmark files

benchmark/**/*.jpg
benchmark/**/*.jsonl

# experiments
__pycache__/
experiments/data-build/*
experiments/data/*
!.gitkeep
.venv
.mypy_cache/
logs/

tags
